body{
    background-image: url(img/background2.jpg);
    background-position:top;
    background-size: cover;
    background-attachment: local;
    overflow: scroll;

}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(44, 44, 44, 0.414);

}


h1{font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:lawngreen;
    text-align: center;
}
figure{
    text-align: center;
}

.buttons {
background-size: 100px;
    background-color: lawngreen;
  display: flex; /* Attiva Flexbox */
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: white;
}

p{font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
}

.status_bar {
    text-align: left;
}